# ignore all zipped backups
secrestfull*.zip

# ignore database settings file, example is 
lib/config.ini

# ignore bak files in sql folder
sql/*.bak

# ignore data files
data/*.zip

#ignore visual studio settings
.vscode

# ignore unzipped folder
unzipped
